<!DOCTYPE html>
<html>

<head>
  <meta charset="UsTF-8">
  <title>Dictionary Changes</title>
  <style>
    #insert-form {
      display: none;
    }

    #delete-update-form {
      display: none;
    }
  </style> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:5050/"> <img
            src="https://vectorified.com/images/dictionary-icon-png-16.png" alt="Logo" width="60" height="40"> Home</a>


        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dictionay</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://localhost:5050/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:5050/login">Log In</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Make Changes
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="http://localhost:5050/update">Insert</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="http://localhost:5050/update">Delete/Update</a></li>

                </ul>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
    <br><br>
    <h1>Dictionary Update
      <hr class="border border-primary border-3 opacity-75">
    </h1>

    <div class="btn-group" role="group" aria-label="Basic outlined example">

      <button class="btn btn-outline-primary" id="bt1" onclick='showForm("insert-form-show-btn")'>Insert</button>

      <button class="btn btn-outline-primary" onclick="showForm('delete-update-form-show-btn')">Delete Or
        Update</button>

    </div>
    <form method="post" id="insert-form">
      <div class="form-floating">
        <input type="text" id="insert-word" name="word" class="form-control" aria-label="With textarea"
          placeholder="Enter a word">
        <label for="floatingInput">Word</label>
      </div>
      <div class="form-floating mb-3">
        <textarea id="definitionId" name="definition" class="form-control" aria-label="With textarea"
          placeholder="define"></textarea>
        <label for="definitionId">Define</label>
        <div class="d-grid gap-2 d-md-block">
          <button type="submit" class="btn btn-primary" name="action" value="insert" id="insert-btn">Insert</button>
        </div>
      </div>
    </form>

    <form method="post" id="delete-update-form">
      <div class="form-floating">

        <input type="text" id="find-word" name="find_word" class="form-control" aria-label="Find word"
          placeholder="find the word">
        <label for="find-word">Find Word</label>
        <div class="d-grid gap-2 d-md-block">
          <button type="submit" class="btn btn-primary" name="action" value="delete-update">Find</button>

        </div>
      </div>
    </form>
  </div>



  <% if (results.length> 0) { %>

    <h2>Word Founds are '<%= find_word %>'</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Words</th>
            <th>Define</th>
          </tr>
        </thead>
        <tbody>
          <% results.forEach(function(result) { %>
            <tr>
              <th>
                <strong>
                  <%= result.Word %> :
                </strong>
              </th>
              <td>
                <%= result.Definition %>
              </td>
              <td>
                <form method="post">
                  <button type="submit" name="action" value='<%= {type :"delete", id:result._id } %>'>Delete</button>
                </form>
              </td>
              <td>
                <button onclick='showUpdateForm("<%= result._id %>")'>Update</button>

                <form method="post" id="<%= result._id %>" , display="none">
                  <input type="text" placeholder="update word" name="word">
                  <textarea name="definition" placeholder="update define"></textarea>
                  <button type="submit" name="action" value='<%= {type :"update", id:result._id} %>'>Update</button>
                </form>
              </td>
            </tr>


            <% } );%>

        </tbody>
      </table>
      <% } %>
        

          <script>
            const showForm1 = document.getElementById('insert-form');
            const showForm2 = document.getElementById('delete-update-form');
            function showForm(btn) {

              showForm1.style.display = 'none';
              showForm2.style.display = 'none';
              if (btn == 'insert-form-show-btn') {
                showForm1.style.display = 'block';
              }

              else showForm2.style.display = 'block';
            };

            function showUpdateForm(formId) {
              const updateForm = document.getElementById(formId);
              updateForm.style.display = 'block';
            }
          </script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
            </script>
</body>

</html>